@tailwind base;
@tailwind components;
@tailwind utilities;


.innerShadow{
    box-shadow: inset -2px 2px 14px rgb(192,34,111);
}
.bent-container{
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}
/* .testimonial{
    background-image: url('https://i.pinimg.com/564x/b4/09/ee/b409ee94ef48f517884709bc4f12eb93.jpg');
    background-image: url('https://i.pinimg.com/564x/60/15/1f/60151f279e2d99dfce6505a1b1131bc7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(8px);
} */