@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
.innerShadow{
    box-shadow: inset -2px 2px 14px rgb(192,34,111);
}
.bent-bottom-container{
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}
.bent-top-container{
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
}
/* .testimonial{
    background-image: url('https://i.pinimg.com/564x/b4/09/ee/b409ee94ef48f517884709bc4f12eb93.jpg');
    background-image: url('https://i.pinimg.com/564x/60/15/1f/60151f279e2d99dfce6505a1b1131bc7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(8px);
} */

/* header background */
.custom-shape-divider-bottom-1714338736 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1714338736 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1714338736 .shape-fill {
    fill: #100235;
}

/* dashboard styles here */
.active-dashboard{
    background-color: rgb(83,150,255);
}