@tailwind base;
@tailwind components;
@tailwind utilities;


.innerShadow{
    box-shadow: inset -2px 2px 14px rgb(192,34,111);
}

/* .howtoplay{
    background-image: url('assets/images/Onboarding-cuate.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
} */